.vscode
.DS_Store
search
search.exe
main.exe
main
data/glove.6B.300d.txt
data/glove.6B.50d.txt
data/find.py
suggestions.md
Todo.txt
arc
obj
Issues.md
Folder Structure.txt
.gitignore

arc-server/data/glove.6B.300d.txt